{% extends 'base.html.twig' %}

            {% block title %}Mot de passe oublié - SnowTrick{% endblock %}

            {% block content %}
                <div class="block-small">
                    <h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe</h1>

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    {{ form(form) }}
                </div>

            {% endblock %}