body{
    position: relative;
}


.navbar-item-custom, .navbar-item-custom a {
    color: white;
}

.footer-custom {

    text-align: center;
    position: absolute;
    bottom: auto;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 20px;
}

.figure-item h4{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
}

.figure-item{
    font-size: 15px;

}

.figure-container{
    margin-bottom: 150px;
}

.metaDate {
    font-size: small;
    font-family: "Lucida Console", monospace, sans-serif;
    color: #0a0a0a;
}

ul{
    display: flex;
    position: absolute;
    right: 10%;
}

.navbar-item-custom{
    display: flex;
    position: absolute;
    right: 1%;
}

.navbar-nav{
    display: flex;
    position: absolute;
    right: 15%;
}

.perso_imgAliment{
    width: 150px;
    height: 130px;
    object-fit: cover;
}

.perso_imgFigure{
    width: 70px;
    height: 60px;
    object-fit: cover;
}

.list-element {
    display: none;
}

.list .list-element:nth-child(1) {
    display: block;
}

.list .list-element:nth-child(2) {
    display: block;
}

.list .list-element:nth-child(3) {
    display: block;
}

