{% extends 'base.html.twig' %}

{% block content %}
    <h1>Inscription</h1>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}

{{ form(form) }}

      <!-- on a utiliser la methode twig symfony 'form' et entre () je lui passe ma variable form, creation de formulaire avec la methode form et injection le form qu'on a creer sur RegisterController   -->
{% endblock %}

