{% extends 'base.html.twig' %}

{% block title %}Edit Figures{% endblock %}

{% block content %}
    <h1>Edit Figures</h1>

    {{ include('figures/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('figures_index') }}">back to list</a>

    {{ include('figures/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>

{% endblock %}